body{
    background-color: black;
}

.menu{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: black;
}

h1,h2{
    font-family: "Coda", cursive;
    color: white;
}

.shop{
    display:flex;
    justify-content: center;
    text-align: center;
}

header{
    margin-left: 50%;
    margin-right: 50%;
}
.metroid{
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    text-align: center;
    border-bottom: white 2px solid;
}

.metroid:hover{
    background-color: red;
}

#super{
    background-color: red;
    height: 400px;
    width:450px;
    border: solid 3px white;
}
.prices{
    display: inline-flex;
    justify-content: space-between;
}
.sm{
    display: flex;
    justify-content: center;
    text-align: center
}

.sf{
    display: flex;
    justify-content: center;
    text-align: center
}

.COD_4{
    display: flex;
    justify-content: center;
    text-align: center
    
}



/* .starFox{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: white 2px solid;
} */

/* .starFox:hover{
    background-color: red;
} */

/* .black_Ops{
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-bottom: white 2px solid;
} */

/* .black_Ops:hover{
    background-color: red;
} */

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

@media(max-width: 1030px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 530px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}

footer{
    margin-top: 200px;
    background-color: black;
    color: white;
    width: 100%;
    flex: 1;
    display:flex;
    justify-content: center;
    align-items: center;
}

